In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'../data/HR.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   part                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [3]:
all_features = pd.concat([data.iloc[:,:6], data.iloc[:,7:]], axis=1)
all_labels = data.left
all_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   promotion_last_5years  14999 non-null  int64
 7   part                   14999 non-null  object
 8   salary                 14999 non-null  object
dtypes: float64(2), int64(5), object(2)
memory usage: 1.0+ MB

In [4]:
numeric_features = all_features.dtypes[all_features.dtypes != 'object'].index
numeric_features

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years'],
      dtype='object')

In [5]:
all_features[numeric_features] = all_features[numeric_features].apply(
    lambda x: (x - x.mean()) / (x.std())
)
all_features

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,part,salary
0,-0.936463,-1.087239,-1.462814,-0.882010,-0.341224,-0.411152,-0.147407,sales,low
1,0.752789,0.840679,0.971081,1.220382,1.713379,-0.411152,-0.147407,sales,medium
2,-2.022412,0.957522,2.593677,1.420610,0.343644,-0.411152,-0.147407,sales,medium
3,0.431027,0.899101,0.971081,0.439493,1.028511,-0.411152,-0.147407,sales,low
4,-0.976684,-1.145661,-1.462814,-0.841965,-0.341224,-0.411152,-0.147407,sales,low
...,...,...,...,...,...,...,...,...,...
14994,-0.856023,-0.853552,-1.462814,-1.002147,-0.341224,-0.411152,-0.147407,support,low
14995,-0.976684,-1.379348,-1.462814,-0.821942,-0.341224,-0.411152,-0.147407,support,low
14996,-0.976684,-1.087239,-1.462814,-1.162329,-0.341224,-0.411152,-0.147407,support,low
14997,-2.022412,1.424896,1.782379,1.580792,0.343644,-0.411152,-0.147407,support,low
14998,-0.976684,-1.145661,-1.462814,-0.861988,-0.341224,-0.411152,-0.147407,support,low

In [6]:
all_features = pd.get_dummies(all_features, dummy_na=True)
all_features

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,part_IT,part_RandD,part_accounting,...,part_marketing,part_product_mng,part_sales,part_support,part_technical,part_nan,salary_high,salary_low,salary_medium,salary_nan
0,-0.936463,-1.087239,-1.462814,-0.882010,-0.341224,-0.411152,-0.147407,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0.752789,0.840679,0.971081,1.220382,1.713379,-0.411152,-0.147407,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,-2.022412,0.957522,2.593677,1.420610,0.343644,-0.411152,-0.147407,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,0.431027,0.899101,0.971081,0.439493,1.028511,-0.411152,-0.147407,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,-0.976684,-1.145661,-1.462814,-0.841965,-0.341224,-0.411152,-0.147407,0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,-0.856023,-0.853552,-1.462814,-1.002147,-0.341224,-0.411152,-0.147407,0,0,0,...,0,0,0,1,0,0,0,1,0,0
14995,-0.976684,-1.379348,-1.462814,-0.821942,-0.341224,-0.411152,-0.147407,0,0,0,...,0,0,0,1,0,0,0,1,0,0
14996,-0.976684,-1.087239,-1.462814,-1.162329,-0.341224,-0.411152,-0.147407,0,0,0,...,0,0,0,1,0,0,0,1,0,0
14997,-2.022412,1.424896,1.782379,1.580792,0.343644,-0.411152,-0.147407,0,0,0,...,0,0,0,1,0,0,0,1,0,0
14998,-0.976684,-1.145661,-1.462814,-0.861988,-0.341224,-0.411152,-0.147407,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [7]:
import torch
from torch import nn
import torch.nn.functional as F

In [8]:
X = torch.from_numpy(all_features.values).type(torch.float32)
Y = torch.from_numpy(all_labels.values.reshape(-1, 1)).type(torch.float32)

In [9]:
in_features = X.shape[1]

class Net(nn.Module):
    def __init__(self):
        super().__init__()
        self.linear1 = nn.Linear(in_features, 32)
        self.linear2 = nn.Linear(32, 16)
        self.linear3 = nn.Linear(16, 1)
        self.sigmoid = nn.Sigmoid()
    
    def forward(self, x):
        x = F.relu(self.linear1(x))
        x = F.relu(self.linear2(x))
        x = F.relu(self.linear3(x))
        x = self.sigmoid(x)
        return x

In [10]:
from torch.utils.data import TensorDataset, DataLoader
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, shuffle=True)
X_train.shape, X_test.shape

(torch.Size([11249, 22]), torch.Size([3750, 22]))

In [15]:
BATCHSIZE = 64
train_iter = DataLoader(TensorDataset(X_train, Y_train), batch_size=BATCHSIZE, shuffle=True)
test_iter = DataLoader(TensorDataset(X_test, Y_test), batch_size=BATCHSIZE)

In [13]:
model = Net()
loss = nn.BCELoss()
opt = torch.optim.Adam(model.parameters(), lr=0.001)

In [16]:
num_epochs = 100

for epoch in range(num_epochs):
    # acc = 0
    # total = 0
    for x, y in train_iter:
        opt.zero_grad()
        l = loss(model(x), y)
        l.backward()
        opt.step()
    # with torch.no_grad():
    #     for x, y in test_iter:
    #         acc += ((model(x).data.numpy() > 0.5).astype('int') == y.numpy()).mean()
    #         total += 1
    # print(f'{epoch + 1} of {num_epochs} accuracy: {round((acc / total) * 100, 3)}')

In [17]:
((model(X_test).data.numpy() > 0.5).astype('int') == Y_test.numpy()).mean()

0.8749333333333333